/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-wrapper {
  @apply md:ml-10;
}

.swiper-pagination-bullet-active {
  background-color: #00a541 !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  background-color: #00a541;
  color: white;
  border-radius: 6px;
  font-size: 26px !important;
  display: flex !important;
  justify-items: center !important ;
  align-items: center !important;
  padding: 6px !important;
}

.swiper-button-next::after {
  content: "\21FE" !important;
}
.swiper-button-prev::after {
  content: "\21FD" !important;
}

.title {
  @apply text-2xl font-bold;
}

.btn-cmn {
  @apply btn bg-transparent capitalize hover:bg-transparent text-gray-400 font-semibold;
}
.btn-act {
  @apply btn hover:bg-[#00a542c2] bg-[#00a541] text-white;
}

.btn-details {
  @apply border-2 border-[#00a542c2] rounded-md px-4 py-2;
}

li::before {
  content: "•";
  color: #00a542c2;
  margin-right: 10px;
  font-size: 20px;
}
