@tailwind base;
@tailwind components;
@tailwind utilities;

.center-itm {
  @apply flex items-center;
}

.swiper-wrapper {
  @apply md:ml-10;
}

.swiper-pagination-bullet-active {
  background-color: #00a541 !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  background-color: #00a541;
  color: white;
  border-radius: 6px;
  font-size: 26px !important;
  display: flex !important;
  justify-items: center !important ;
  align-items: center !important;
  padding: 6px !important;
}

.swiper-button-next::after {
  content: "\21FE" !important;
}
.swiper-button-prev::after {
  content: "\21FD" !important;
}

.title {
  @apply md:text-2xl text-xl font-bold capitalize;
}

.line-title {
  @apply center-itm justify-between md:text-2xl text-gray-400 font-bold my-4;
}

.btn-dr {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.btn-second {
  @apply btn bg-[#333333] md:text-xl capitalize text-white hover:bg-[#333333c7];
}

.btn-cmn {
  @apply btn bg-transparent capitalize hover:bg-transparent text-gray-400 font-semibold;
}
.btn-act {
  @apply btn hover:bg-[#00a542c2] bg-[#00a541] text-white text-xs md:text-xl capitalize font-bold;
}

.btn-act-tab {
  @apply btn hover:bg-[#00a541] bg-[#00a541] text-white capitalize font-bold rounded-none md:text-xl;
}

.btn-details {
  @apply border border-[#00a542c2] rounded-md px-4 py-2 capitalize;
}

.btn-under {
  @apply border-b-[#00a541] border-b-4;
}
.btn-under-b {
  @apply capitalize font-bold;
}
.select-btn {
  @apply border p-4 rounded-md w-full;
}
.select-btn:focus {
  @apply outline-none;
}
.select-no {
  border: none !important;
}
/* .btn-act-tbl{
  @apply md:btn btn-xs hover:bg-[#00a542c2] bg-[#00a541] text-white md:text-xl capitalize font-bold ;
  font-size: 8px !important;
} */

.used-ul > li::before {
  content: "•";
  color: #00a542c2;
  margin-right: 10px;
  font-size: 20px;
}

.data-input {
  @apply p-2 w-full bg-transparent rounded-md border border-gray-600 font-semibold;
}
.data-input:focus {
  border-color: #00a541;
  outline: none;
}

.input:focus,
.select:focus {
  @apply border-none;
}

.input-src {
  @apply w-full h-full bg-transparent focus:border-none focus:outline-none;
}

.otp-btn {
  @apply bg-[#00A541] rounded-md py-4 text-white text-xl font-bold cursor-pointer;
}

.carousel-status,
.control-dots {
  @apply hidden;
}

.control-arrow {
  opacity: 1 !important;
  transform: scale(2);
}
.control-arrow:hover {
  background: transparent !important;
}

.join-item {
  color: black !important;
}

.join > input[type="radio"]:checked {
  background: #00a541 !important;
  color: white !important;
  border: none !important;
}

/* Range style */
.range-itm {
  width: 100%;
  appearance: none;
  height: 3px;
  background: #e9e6e6;
  border-radius: 5px;
  outline: none;
  border: none;
}

.range-itm::-webkit-slider-thumb {
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  border: 2px solid #00a541;
  cursor: pointer;
  z-index: 10;
}

.range-itm::-webkit-progress-bar {
  background: #00a541; /* Set the progress bar color */
}

.progress {
  max-width: 100vw;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 0;
  height: 2px;
  width: auto;
  background: #00a541;
}

.range-slider {
  height: 3px !important;
  border: none !important;
  outline: none !important;
}
.range-slider__range {
  height: 3px !important;
  background-color: #00a541 !important;
}

.range-slider__thumb {
  background: none !important;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  border: 6px solid #00a541;
  cursor: pointer;
  z-index: 10;
}

.price-plr {
  transition: all 0.4s ease-in;
}

.ReactCollapse--collapse {
  transition: height 500ms;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 6px;
  height: 3px;
}

.hidden-scroll::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: #00a542b7;
  border-radius: 6px;
}

/* dialog */
dialog {
  @apply bg-transparent backdrop-blur-[2px] fixed top-0 h-full w-full items-center justify-center;
}

.modal-box {
  @apply shadow-sm shadow-green-200;
}

.placeholder-txt {
  position: relative;
  width: auto;
  margin-top: 20px;
}

.placeholder-txt > label {
  position: absolute;
  top: 10px;
  left: 10px;
  transition: top 0.2s ease, font-size 0.2s ease;
  pointer-events: none;
  color: #ccc;
}

.placeholder-txt > input:focus + label,
textarea:focus + label {
  top: -20px;
  font-size: 14px;
  color: #00a541;
}

.inputCustom {
  @apply p-[10px] w-full bg-transparent rounded-md border-[1px] border-gray-600 font-semibold  block focus:border-green-500 outline-none  placeholder:text-green-500 active:border-green-600;
}
.labelCustom {
  @apply pointer-events-none absolute left-3 top-1 mb-0 max-w-[90%] origin-[0_0]  pt-[0.37rem] leading-[1.6] font-bold  transition-all duration-200 ease-out  peer-focus:scale-[0.8] dark:text-green-500 dark:peer-focus:text-green-500;
}
